body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Helvetica;
}

.backgroundMain {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(165deg, #FFE97F, #FFAA00);

    .right-home-img {
        height: 110%;
        position: absolute;
        right: -60px;
        top: -20px;
    }

    .home-container {
        width: 50%;
        height: 100vh;
        position: absolute;
        left: 100px;

        .authorization {
            width: auto;
            height: 50px;
            position: absolute;
            right: 0;
            top: 25px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .languages {
                display: flex;
                height: auto;

                img {
                    height: 18px;
                    width: auto;
                    margin-right: 8px;
                }
            }

            .logIn-button {
                text-decoration: none;
                font-weight: bold;
                font-size: 16px;
                color: #372B2B;
                margin: 0 10px 0 20px;
            }
        }

        h2 {
            font-size: 110px;
            margin-bottom: 0;
        }

        h5 {
            font-size: 40px;
            margin: 0;
            margin-left: 3px;
        }

        ul {
            li {
                font-size: 30px;
            }
        }

        .tutorial-button {
            text-decoration: none;
            color: #372B2B;
            font-size: 16px;
            margin-left: 25px;
        }

        .home-button {
            margin-top: 10px;
        }

        .form-home-img {
            width: 100%;
            height: auto;
            position: relative;
            bottom: -50px;
        }
    }

    .signIn-container {
        width: 50%;
        height: 100vh;
        position: absolute;
        left: 100px;

        .signIn-box {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            height: 460px;
            background-color: #FFE35C;
            border: 2px solid #372B2B;
            border-radius: 6px;
            box-shadow: 2px 2px 6px .5px #0000007a;

            h3 {
                margin: 20px 0 0 50px;
                font-size: 60px;
            }

            h5 {
                font-size: 20px;
                margin: 0 0 0 50px;
            }

            input[type=password],
            input[type=email] {
                display: block;
                margin: 10px 0 0 50px;
                background-color: transparent;
                width: 340px;
                border: none;
                border-bottom: 2px solid black;
                padding: 10px 0;
                outline: none;
                font-size: 16px;

                &::placeholder {
                    color: #372B2B;
                    font-weight: 400;
                    font-size: 16px;
                }
            }

            .login-btn {
                text-decoration: none;
                font-weight: bold;
                font-size: 16px;
                color: #372B2B;
                display: block;
                margin: 30px 0 0 50px;
            }
        }
    }

    .login-container {
        width: 50%;
        height: 100vh;
        position: absolute;
        left: 100px;

        .login-box {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            height: 420px;
            background-color: #FFE35C;
            border: 2px solid #372B2B;
            border-radius: 6px;
            box-shadow: 2px 2px 6px .5px #0000007a;

            h3 {
                margin: 20px 0 0 50px;
                font-size: 60px;
            }

            input[type=password],
            input[type=email] {
                display: block;
                margin: 10px 0 0 50px;
                background-color: transparent;
                width: 340px;
                border: none;
                border-bottom: 2px solid black;
                padding: 10px 0;
                outline: none;
                font-size: 16px;

                &::placeholder {
                    font-size: 16px;
                    color: #372B2B;
                    font-weight: 400;
                }
            }

            .login-btns {
                text-decoration: none;
                font-weight: bold;
                font-size: 16px;
                color: #372B2B;
                display: block;
                margin: 30px 0 0 50px;
            }

            .notuser-btn {
                margin: 5px 0 0 50px;
            }
        }
    }

    .reminder-container {
        width: 50%;
        height: 100vh;
        position: absolute;
        left: 100px;

        .reminder-box {
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 600px;
            height: 210px;
            background-color: #FFE35C;
            border: 2px solid #372B2B;
            border-radius: 6px;
            box-shadow: 2px 2px 6px .5px #0000007a;

            input[type=email] {
                display: block;
                margin: 20px 0 10px 50px;
                background-color: transparent;
                width: 340px;
                border: none;
                border-bottom: 2px solid black;
                padding: 10px 0;
                font-size: 16px;
                outline: none;

                &::placeholder {
                    font-size: 16px;
                    color: #372B2B;
                    font-weight: 400;
                }
            }
        }
    }

    .tutorial-container {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: linear-gradient(165deg, #FFE97F, #FFAA00);

        img {
            position: absolute;
            right: -150px;
            top: 240px;
        }

        .tutorial-box {
            width: 50%;
            height: 100vh;
            position: absolute;
            left: 100px;

            .flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: auto;
                margin-top: 35px;

                .logIn-btn {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 16px;
                    color: #372B2B;
                    margin: 0 10px 0 20px;
                }
            }

            h3 {
                font-size: 60px;
            }
        }
    }

    .config-container {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: linear-gradient(165deg, #FFE97F, #FFAA00);

        .config-box {
            width: 50%;
            height: 100vh;
            position: absolute;
            left: 100px;

            h3 {
                font-size: 30px;
                margin: 0 0 20px 0;
            }

            .flex {
                width: 420px;
                height: auto;
                flex-wrap: wrap;
                margin: 0 0 20px 0;

                img {
                    width: 100px;
                    padding: 2.5px;
                    height: auto;
                    cursor: pointer;
                }
            }

            .create-btn {
                display: block;
            }
        }
    }

    .main-button {
        position: relative;
        cursor: pointer;
        background-color: #FFE35C;
        border: 2px solid #372B2B;
        border-radius: 6px;
        height: 32px;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        box-shadow: 2px 2px 6px .5px #0000007a;
    }


    @media screen and (max-width: 1400px) {
        .home-container {

            h2 {
                font-size: 90px;
            }

            h5 {
                font-size: 30px;
            }

            ul {
                margin: 5px;

                li {
                    font-size: 20px;
                }
            }

            .tutorial-button {
                font-size: 12px;
            }
        }

        .tutorial-container {

            img {
                top: 140px;
                width: 650px;
            }

            .tutorial-box {

                h3 {
                    font-size: 40px;
                }
            }
        }
    }
}